#footer {
    padding-block-start: 5rem;
    padding-block-end: 2rem;
    padding-inline: 8rem;
    font-size: 12px;
    color: #8a8d91;
}

#footer .languages {
    margin-block-end: 5px;
    display: flex;
    gap: 10px;
}

#footer .languages button {
    border: none;
    background-color: transparent;
    color: #8a8d91;
}

#footer .languages button:hover {
    text-decoration: underline;
}

#footer .languages .addLang {
    border: 1px solid #ccd0d5;
    background-color: #f5f6f7;
    border-radius: 2px;
    padding-inline: 10px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.2s ease;
}

#footer .languages .addLang:hover {
    text-decoration: none;
    background-color: #e6e7e9;
}

#footer hr {
    border: none;
    border-bottom: 1px solid #bbbcbe;
    margin-block-end: 10px;
}

#footer .links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    line-height: normal;
    margin-block-end: 1rem;
}

#footer .links button {
    border: none;
    background: transparent;
    color: #8a8d91;
}

#footer .links button:hover {
    text-decoration: underline;
}
